.profile{
    background-color: var(--component-color);
    border-radius: 6px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_name{
    line-height: 18px;
    padding: 20px;
}

.profile_name .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.profile_name .title{
    font-size: 13px;
    color: var(--main-color);
}

.profile_image{
    height: 277px;
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    transition:all 1s;
}

.profile_image:hover{
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.profile_image img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_information{
    margin: 15px 0;
    font-size: 15px;
    padding: 20px;
}

.profile_information b{
    color: var(--main-color);
}

.profile_information ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
}

.profile .btn_container{
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin-top: 5px;
}

.profile .btn_container a{
    text-decoration: none;
}